<footer>
    <div class="container">
        <div class="pull-left">
            <img src="{{ base_path ~ directory }}/images/logo-leiaja.svg" alt="Marca LeiaJá">
        </div>
        <div class="pull-right">
            <strong>Copyright 2017 LEIAJÁ.</strong><br/>
            Todos os direitos reservados
        </div>
    </div>
</footer>
